@use './normalize.scss';
@use './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--bg-main);
  color: var(--text-primary);
}

button {
  font-family: inherit;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 32px 40px;
  background-color: var(--bg-main);
}
