.modal {
  width: 350px;
  padding: 32px;
  background-color: var(--bg-secondary);
  border-radius: var(--radius-l);
  box-shadow: var(--shadow-soft);

  display: flex;
  flex-direction: column;
  gap: 24px;

  &Title {
    font-size: 28px;
    font-weight: 600;
    color: var(--text-primary);
    text-align: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}
